.main_container {
    padding: 2rem;
    width: 100vw;
    height: auto;
    min-height: 100vh;
    background-color: rgb(179, 255, 230);
}
.container{
    margin-top: 2rem;
    overflow-x: hidden;
}
// ------------- Header CSS -------------
.header {
    // position: relative;
    // display: flex;
    // justify-content: space-between;
    padding: 15px;
    background-color: transparent;
   
    .input_form {
        .search_input{
            display: inline-block;
            max-width: 31vw;
            min-width: fit-content;
            font-size: 1.2rem;
            font-weight: 500;
            background-color: #f9fffd;
            height: auto;
            max-height: 35px;
            padding-left: 20px;
            padding-right: 20px;
            border: none;
            border-radius: 30px;
            box-shadow: none;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
        }
        .search_input:focus {
            color: rgb(65, 65, 65);
            font-weight: 500;
            background: rgb(172, 199, 190);
            box-shadow: none;
        }
        .search_label{
            font-size: 1.6rem;
            font-weight: 500;
            margin-left: 2rem;
        }
        // .search_label:active {
        //     color: rgb(65, 65, 65);
        //     font-weight: 500;
        //     background: rgb(172, 199, 190);
        //     box-shadow: none;
        // }
    }
}
   
.form_container {
    margin-left: 1rem;
    width: 90%;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    border-radius: 10px;
}
.form_label {
    font-size: 15px;
    font-weight: 500;
    display: block;
}
.input {
    background: rgb(249, 255, 253);
    border: 0;
    border-radius: 15px;
    // width: 85%;
}
.input:focus {
    color: rgb(125, 126, 125);
    font-weight: 500;
    background: rgb(172, 199, 190);
    box-shadow: none;
}
.form_btn_container {
    display: flex;
    justify-content: end;
}
.error {
    padding-left: 0.5rem;
    font-weight: 500;
    color: #dc3545!important;
    margin-top: -12px;
}

//list styling

.list_container{
    // padding: 1rem;
    // background-color: red;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    border-radius: 10px;
    max-height: 75vh;
    overflow-y: scroll;
    overflow-x: hidden;
    .card_component {
        margin: 0.5rem;
    }
    .card_1{
        padding: 0;
        border: 0;
        border-radius: 10px;
    }
}

.list_heading {
    display: flex;
    justify-content: space-between;
    .dt_container {
        min-width: 130px;
        display: flex;
        justify-content: space-between;
    }
    
}

.dis_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .list_title {
        width: 75%;
        font-weight: 500;
        color: #333;
    }
        .btn_delete_conatiner {
            width: 20%;
            .edit_btn{
                padding: 2px;
                font-size: 25px;
                // background-color: #5ae368;
                // border: 0;
                color: #dedede;
            }
            .btn_delete {
                margin-top: 2px;
                margin-left: 2px;
                padding: 0;
                font-size: 26px;
                // background-color: #905043;
                // border: 0;
                color: red;
            }
        }
    
}


